fastapi
uvicorn[standard]
sqlmodel
asyncpg
alembic
python-dotenv
langchain
langchain-core
langchain-openai
langgraph
cuid2
mlflow==3.14.0
cryptography
httpx
python-multipart
mcp
langchain-mcp-adapters
pytest
pytest-asyncio
python-docx
