# Add your environment variables here
# DO NOT commit this file to version control

SITECORE_DOMAIN_ID=12345678
SITECORE_CLIENT_KEY=123456789-12345678
SITECORE_API_KEY=01-xxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
